body{font-family:helvetica, arial, sans-serif; padding:0; margin:0; background-color:red;}

.floatl{float:left;}
.floatr{float:right;}
.clear{clear:both;}

.header{width:100%; border-bottom:10px solid orange; height: 225px; background-color:blue; }
.header .headerContent{width:80%; margin:0 auto; line-height:100px;}
.header .headerContent h1{margin:0; text-align: center; color:#ffffff; font-weight: bold;}

.wrapper{width:100%;}

.content{width:80%;
margin:-130px auto 0 auto;
background-color:#ffffff;
border-top:4px solid blue;
padding:40px 20px;}

.contact{width:100%;}
.contact_info{width:57%; float:right; margin-left:3%;}



.pageTitle{margin-bottom:50px;}

.insert_contact_button{width: 100px; height: 50px; background-color:grey; color:#ffffff; border:none; margin-top:50px;}
.cancel_contact_button{width: 100px; height: 50px; list-style-type:none; background-color:red; color:#ffffff; border:none; margin-top:50px;}